.logo{
    width: 45px;
    height: auto;
    margin-left: 20px
}
.img1{
    width: 1330px;
    height: 100%;
}
.navbar-nav li{
    margin-left: 80px;
}
.container-fluid{
    padding: 10px;
}
.konten{
    width: 80%; 
    height: 300px; 
    margin-left: 60px;
    border-radius: 21px 21px 0 0; 
}
.box1 h2, p{
    color: black;
}
.logoFooter{
    width: 15%;
    height: auto;
    margin-left: 35px;

}