body {
    display: block;
    margin: 0;
    padding: 0;
    background-color: white;
}
.header {
    width: 1110px;
    height: auto;
    padding-top: 3px;
}
.header a {
    color: grey;
    text-decoration: none;
}
.header-logo {
    font-size: 35px;
    padding-left: 145px;
}
.search {
    width: 5%;
    height: auto;
    margin-right: 5px;
}
.line {
    border-top: 1px solid #808080;
    margin-top: 15px;
    width: 1110px;
    border-color: grey;
}
#navbar a{
    color: grey;
    margin-left: 20px;
}
.jumbotron h1 {
    font-size: 50px;
    color: white;
    font-style: italic;
    font-weight: bold;
}
.jumbotron p {
    margin-top: 1px !important;
    margin-bottom: 1px !important;

}
.card-body{
    padding-top: 10px;
}
.card h6{
    color:#007bff;
    font-weight: bold;
}
.post1{
    color: black;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
.card p{
    color: #000;
}
.card-img-right{
    width: 200px;
    height: 250px;
}
.lines{
    border-top: 1px solid #808080;
    width: 700px;
    border-color: lavender;
    margin-top: 10px;
}